.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LocalToRemote/2019/1/3/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LocalToRemote/2019/1/3/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/1/3/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/1/3/refactorings.history
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/972666350.index
.metadata/.plugins/org.eclipse.jdt.core/904289187.index
.metadata/.plugins/org.eclipse.jdt.core/899518542.index
.metadata/.plugins/org.eclipse.jdt.core/58444662.index
.metadata/.plugins/org.eclipse.jdt.core/434535315.index
.metadata/.plugins/org.eclipse.jdt.core/402782763.index
.metadata/.plugins/org.eclipse.jdt.core/3861206012.index
.metadata/.plugins/org.eclipse.jdt.core/3705452257.index
.metadata/.plugins/org.eclipse.jdt.core/3698278747.index
.metadata/.plugins/org.eclipse.jdt.core/3517127072.index
.metadata/.plugins/org.eclipse.jdt.core/3498974549.index
.metadata/.plugins/org.eclipse.jdt.core/3431489974.index
.metadata/.plugins/org.eclipse.jdt.core/3079686767.index
.metadata/.plugins/org.eclipse.jdt.core/2953298812.index
.metadata/.plugins/org.eclipse.jdt.core/2897874830.index
.metadata/.plugins/org.eclipse.jdt.core/2149344378.index
.metadata/.plugins/org.eclipse.jdt.core/1897928139.index
.metadata/.plugins/org.eclipse.jdt.core/1878111493.index
.metadata/.plugins/org.eclipse.jdt.core/1794327708.index
.metadata/.plugins/org.eclipse.jdt.core/1188785453.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/LocalToRemote/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/ee/10e7da14bd1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/cd/0083faffbc1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/7d/40305be7be1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/5f/e0b2f2dcbe1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/50/60a8bb3ebf1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/44/f0a5f729bf1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/34/a0d3e7efbc1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/30/40c19f66bf1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/1e/309e6a4cbf1b00191a62ab46fd12ad7f
.metadata/.plugins/org.eclipse.core.resources/.history/1/c07b1557bf1b00191a62ab46fd12ad7f
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.log
.metadata/.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write.lock
